<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Clock</title>
    
    <script>
    var DEBUG_LOG = localStorage.getItem('debug_log') === 'true' || window.location.search.includes('debug');
    if (!DEBUG_LOG) {
        var _origLog = console.log;
        console.log = function(){};
        console.debug = function(){};
    }
    </script>
    
    <link rel="stylesheet" href="/static/css/wclock.css?v=7">
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>

    <!-- Chart.js и плагины -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-crosshair@2.0.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@3.0.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@3.0.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/suncalc@1.9.0/suncalc.min.js"></script>

    <!-- Локальные скрипты -->
    <script src="/static/js/cookie.js"></script>
    <script src="/static/js/lib.js?v=15"></script>
    <script src="/static/js/control_panel.js?v=3"></script>
    <script src="/static/js/battery.js?v=8"></script>
    <script src="/static/js/weather_chart.js?v=10"></script>
    <script src="/static/js/panel_configs.js?v=2"></script>
    <script src="/static/js/panel_resize.js?v=6"></script>

    <script src="/static/js/invest_banner.js?v=5"></script>
    <script src="/static/js/chart_plugins.js"></script>
    <script src="/static/js/invest_chart_helpers.js?v=6"></script>
    <script src="/static/js/invest_chart.js?v=42"></script>

    <!-- Оркестратор обновлений -->
    <script src="/static/js/cron.js?v=11"></script>

    <!-- Основной модуль -->
    <script src="/static/js/index.js?v=8"></script>

</head>
<body>
<div>
    <div id="layout">
        <div id="console" class="fullscreen"></div>
        
        <!-- Weather Panel -->
        <div id="weather_panel" class="clock-panel">
            <canvas id="weatherChart" class="weatherChart-normal fullscreen"></canvas>
        </div>

        <!-- Battery Indicator Panel -->
        <div id="battery_indicator_panel" class="clock-panel">
            <div class="battery-icon"><div class="battery-fill" id="battery_fill"></div></div>
            <span class="battery-text" id="battery_text"></span>
        </div>
        
        <!-- Battery Chart Panel -->
        <div id="battery_chart_panel" class="clock-panel">
            <canvas id="volumeChart"></canvas>
        </div>
        
        <!-- Investment Chart Panel moved to chart_control_panel; invest panel contains volumeChart now -->
        <div id="invest_panel" class="clock-panel" >
            <canvas id="investChart" class="fullscreen"></canvas>
        </div>


        <!-- Investment Chart Panel moved to chart_control_panel; invest panel contains volumeChart now -->
        <div id="invest_panel_banner" class="clock-panel" data-chart-scale=".8">
            <div id="invest_banner"></div>
        </div>
        
        <!-- Pressure/Humidity/Temp Panel -->
        <div id="press_humidity_temp_panel" class="clock-panel">
            <div id="press_humidity_temp">
                <div id="fact_pressure_mm"></div>
                <div id="forecast_1_pressure_mm"></div>
                <div id="fact_humidity"></div>
                <div id="forecast_1_humidity"></div>
                <div id="temp">
                    <div id="fact_temperature"></div>
                    <div id="fact_feels_like"></div>
                    <div id="forecast_1_temperature"></div>
                    <div id="forecast_1_feels_like"></div>
                </div>
            </div>
        </div>

        <!-- Wind/Condition/Precipitation Panel -->
        <div id="wind_cond_precip_panel" >
            <div id="wind_cond_precip">
                <img id="fact_condition">
                <img id="forecast_1_condition">
                <div id="fact_prec_prob"></div>
                <div id="forecast_1_prec_prob"></div>
                <div id="fact_wind_dir"></div>
                <div id="fact_wind_dir_a"></div>
                <div id="forecast_1_wind_dir"></div>
                <div id="forecast_1_wind_dir_a"></div>
                <div id="fact_wind_speed"></div>
                <div id="forecast_1_wind_speed"></div>
            </div>
        </div>

        <!-- Sun Panel -->
        <div id="sun_panel" class="clock-panel">
            <div id="sun">
                <div id="sunrise"></div>
                <div id="daylight"></div>
                <div id="sunset"></div>
            </div>
        </div>

        <!-- Clock Panel -->
        <div id="clock_panel" class="clock-panel">
            <div id="clock"></div>
        </div>
        
        <!-- Seconds Panel -->
        <div id="seconds_panel" class="clock-panel">
            <div id="clock_seconds"></div>
        </div>
        
        <!-- Date Panel -->
        <div id="date_panel" class="clock-panel">
            <div id="day"></div>
            <div id="month"></div>
            <div id="weekday"></div>
        </div>
        
        <!-- Moon Panel -->
        <div id="moon_panel" class="clock-panel">
            <div id="moon_phase"></div>
        </div>
        
        
        <!-- Control Buttons -->
        <div id="browser_fullscreen" aria-label="fullscreen_browser"></div>
        <div id="browser_reload"></div>
        <!-- <div id="mode_toggle" title="Переключить режим" style="display: none;"></div> -->
        <div id="contentDiv"></div>
        
        <!-- Chart Control Panel loaded dynamically -->
        <div id="chart_control_panel" class="clock-panel" ></div>
        
        <!-- Memory / Debug Overlay -->
        <div id="mem-info"></div>
    </div>
</div>
</body>
</html>
